﻿@inherits LayoutComponentBase

<PageTitle>UI</PageTitle>

<nav class="bg-dark sticky-top mb-3 p-2">
    <div class="mx-3 fs-2 text-light fw-bold">Weather</div>
</nav>
<main>
    <article>
        @Body
    </article>
</main>
