@using UI.Models.Locations
@inject IHttpClientFactory HttpClient;

<h1 class="text-center mb-3 fw-bold">Weather Forecast</h1>
<div class="d-flex justify-content-center mb-3">
    <EditForm Model="Location" method="POST" OnValidSubmit="HandleValidLocation" OnInvalidSubmit="HandleInvalidLocation">
        <DataAnnotationsValidator/>
        <ValidationSummary />
        <label for="latitude" class="form-label mx-3">Latitude
            <InputNumber TValue="double" @bind-Value="Location.Latitude" id="latitude" class="form-control"/>
        </label>
        <label for="longitude" class="form-label mx-3">Longitude
            <InputNumber TValue="double" @bind-Value="Location.Longitude" id="longitude" class="form-control"/>
        </label>
        <button type="submit" class="btn btn-primary mx-3">Get</button>
    </EditForm>
</div>
<div>
    @if (_isError)
    {
        <h3>Error!</h3>
        <p>An error occurred when reading the data.</p>
    }
    else if (_pirateWeather is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <section class="row mb-3 gap-3">
            <WeatherSummary
                Latitude="@_pirateWeather.Latitude"
                Longitude="@_pirateWeather.Longitude"
                Timezone="@_pirateWeather.Timezone"
                Offset="@_pirateWeather.Offset"
                Elevation="@_pirateWeather.Elevation"
                CurrentTime="@_pirateWeather.Currently.Time.ToString()"
            />
            <WeatherCurrent Currently="@_pirateWeather.Currently"/>
        </section>
        <section class="d-flex flex-column">
            <WeatherDay Daily="@_pirateWeather.Daily"/>
            <WeatherHour Hourly="@_pirateWeather.Hourly"/>
        </section>
        <footer>
            <p>
                Data from
                <a
                    class="link-primary text-decoration-none"
                    href="https://github.com/Pirate-Weather/pirateweather"
                    target="_blank"
                >
                    Pirate Weather
                </a>
                @_pirateWeather.Flags.Version.ToLower(),
                all units are in @_pirateWeather.Flags.Units.ToUpper().
            </p>
            <p>MIT - Copyright &copy; 2023 - @DateTime.Today.Year, Fernando Araujo dos Santos.</p>
        </footer>
    }
</div>

@code {
    public LocationModel Location { get; set; } = new();
    private PirateWeatherModel? _pirateWeather;
    private bool _isError = false;

    protected override async Task OnInitializedAsync()
    {
        Location.Latitude = 48.856613;
        Location.Longitude = 2.352222;
        await GetApiData();
    }

    private async Task HandleValidLocation()
    {
        await GetApiData();
    }

    private void HandleInvalidLocation()
    {
        Location.Latitude = 48.856613;
        Location.Longitude = 2.352222;
        Console.WriteLine("Cold not get a proper location coordinate!");
        Console.WriteLine($"Default location to ({Location.Latitude}, {Location.Longitude}) coordinate.");
    }

    private async Task GetApiData()
    {
        var httpClient = HttpClient.CreateClient("pirate");
        var epochString = DateTimeOffset.UtcNow.ToUnixTimeSeconds();
        var queryString = $"{httpClient.BaseAddress}/{Location.Latitude},{Location.Longitude},{epochString}?units=si";
        try
        {
            _pirateWeather = await httpClient.GetFromJsonAsync<PirateWeatherModel>(queryString);
            _isError = false;
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
            _isError = true;
        }
    }

}
