@using UI.Models.API.PirateWeather.Hourly
@using UI.Utils

<section class="mb-3" id="weather-hourly">
    <div>
        <h3>Hourly</h3>
        <p>
            <i class="@IconMapper.GetIconFont(Hourly.Icon)"></i>@Hourly.Summary
        </p>
    </div>
    <div class="d-flex flex-nowrap overflow-scroll gap-3">
        @if (Hourly.Data is not null)
        {
            @foreach (var hourData in Hourly.Data)
            {
                <div class="card col-2 mb-3 shadow-sm">
                    <div class="card-header">
                        <p>@DateTimeOffset.FromUnixTimeSeconds(long.Parse(hourData.Time.ToString())).DateTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
                    </div>
                    <div class="card-body">
                        <p>
                            <i class="@IconMapper.GetIconFont(hourData.Icon)"></i> @hourData.Summary
                        </p>
                        <p><i class="@IconMapper.GetIconFont("rain")"></i>@hourData.PrecipProbability % @hourData.PrecipType</p>
                        <p>Temperature @hourData.Temperature °C</p>
                        <p>Cloud Cover @hourData.CloudCover</p>
                        <p>Wind Speed @hourData.WindSpeed</p>
                        <p>Humidity @hourData.Humidity</p>
                        <p>UV @hourData.UvIndex</p>
                        <p>Visibility @hourData.Visibility</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Could not get data...</p>
        }
    </div>
</section>

@code {

    [Parameter]
    public HourWeatherModel Hourly { get; set; } = new();

}
