@using UI.Models.API.PirateWeather.Daily
@using UI.Utils

<section class="mb-3" id="weather-daily">
    <div>
        <h3>Daily</h3>
        <p>
            <i class="@IconMapper.GetIconFont(Daily.Icon)"></i>@Daily.Summary
        </p>
    </div>
    <div class="d-flex flex-nowrap overflow-scroll gap-3">
        @if (Daily.Data is not null)
        {
            @foreach (var dayData in Daily.Data)
            {
                <div class="card col-2 mb-3 shadow-sm">
                    <div class="card-header">
                        <h6 class="fw-bold">
                            <span>@DateTimeOffset.FromUnixTimeSeconds(long.Parse(dayData.Time.ToString())).DayOfWeek</span>
                            <span>@DateTimeOffset.FromUnixTimeSeconds(long.Parse(dayData.Time.ToString())).Date.ToString("O").Substring(0, 10)</span>
                        </h6>
                    </div>
                    <div class="card-body">
                        <p>
                            <i class="@IconMapper.GetIconFont(dayData.Icon)"></i>@dayData.Summary
                        </p>
                        <p>Max @dayData.TemperatureMax °C</p>
                        <p>Min @dayData.TemperatureMin °C</p>
                        <p>UV @dayData.UvIndex</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Could not get data...</p>
        }
    </div>
</section>

@code {

    [Parameter]
    public DayWeatherModel Daily { get; set; } = new();

}
