@using UI.Utils

<div class="col-md-8 col-lg-6">
    <h3>Currently</h3>

    <div class="d-flex gap-3">
        <div>
            <p>
                <i class="@IconMapper.GetIconFont(Currently.Icon)"></i>@Currently.Summary
            </p>
            <p class="fs-1 fw-bold">@Currently.Temperature °C</p>
            <p class="fw-bold">Feels like @Currently.ApparentTemperature °C</p>
            <p>Cloud Cover @Currently.CloudCover</p>
            <p>Precipitation Probability @Currently.PrecipProbability %</p>
        </div>
        <div class="d-flex flex-column">
            <p>Wind Speed @Currently.WindSpeed</p>
            <p>Wind Gust @Currently.WindGust</p>
            <p>Wind Bearing @Currently.WindBearing</p>
            <p>Humidity @Currently.Humidity</p>
            <p>Pressure @Currently.Pressure</p>
            <p>UV @Currently.UvIndex</p>
            <p>Visibility @Currently.Visibility</p>
            <p>Ozone Density @Currently.Ozone</p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public CurrentWeatherModel Currently { get; set; } = new();

}
