@using System.Globalization

<div class="col-md-8 col-lg-4">
    <h3>Summary</h3>

    <p>Latitude @Latitude</p>
    <p>Longitude @Longitude</p>
    <p>@DateTimeOffset.FromUnixTimeSeconds(long.Parse(CurrentTime)).DateTime.ToString("yyyy-MM-dd HH:mm:ss") @Offset UTC @Timezone</p>
    <p>Elevation @Elevation</p>
</div>

@code {

    [Parameter]
    public double Latitude { get; set; }

    [Parameter]
    public double Longitude { get; set; }

    [Parameter]
    public string Timezone { get; set; } = String.Empty;

    [Parameter]
    public double Offset { get; set; }

    [Parameter]
    public double Elevation { get; set; }

    [Parameter]
    public string CurrentTime { get; set; } = String.Empty;

}
