﻿@page "/"
@using ViewModels.Locations.GeodeticCoordinates

<PageTitle>Weather Forecast</PageTitle>

<EditForm Model="Location" OnSubmit="Submit" FormName="GeodeticCoordinates" id="geodetic-coordinates">
    <label>
        <div>Latitude</div>
        <InputNumber TValue="double" @bind-Value="Location.Latitude" id="latitude" />
    </label>
    <label>
        <div>Longitude</div>
        <InputNumber TValue="double" @bind-Value="Location.Longitude" id="longitude" />
    </label>
    <button type="submit" class="btn btn-primary" id="geodetic-coordinates-submit-button">
        GET
    </button>
</EditForm>

@if (_isLocationNotSupplied)
{
    <section id="geodetic-coordinates-no-data-section">
        <h4>Weather Forecast Location</h4>
        <p>
            Enter a valid location Latitude and Longitude, in degrees, to view
            weather conditions from the given location.
        </p>
        <p>
            For example, enter @SuggestedLocation.latitude in Latitude and @SuggestedLocation.longitude in
            Longitude to view the weather conditions from @SuggestedLocation.city.
        </p>
    </section>
}
else
{
    <section id="weather-general-section">
        <h4>Weather Forecast Information</h4>
    </section>
}

@code {
    public GeodeticCoordinatesViewModel Location { get; set; } = new();
    private bool _isLocationNotSupplied = true;
    private (double latitude, double longitude, string city) SuggestedLocation => GetRandomSuggestedLocation();

    private void Submit() => _isLocationNotSupplied = false;

    private (double latitude, double longitude, string city) GetRandomSuggestedLocation()
    {
        var locations = new []
        {
            (latitude: -34.92866, longitude: 138.59863, city: "Adelaide, SA, Australia"),
            (latitude: 39.9075, longitude: 116.39723, city: "Beijing, China"),
            (latitude: 52.52437, longitude: 13.41053, city: "Berlin, Germany"),
            (latitude: -15.77972, longitude: -47.92972, city: "Brasília, GO, Brazil"),
            (latitude: -26.20227, longitude: 28.04363, city: "Johannesburg, South Africa"),
            (latitude: 6.45407, longitude: 3.39467, city: "Lagos, Nigeria"),
            (latitude: 40.4165, longitude: -3.70256, city: "Madrid, Spain"),
            (latitude: 55.75222, longitude: 37.61556, city: "Moscow, Russia"),
            (latitude: -1.28333, longitude: 36.81667, city: "Nairobi, Nairobi County, Kenya"),
            (latitude: 28.62137, longitude: 77.2148, city: "New Delhi, Delhi, India"),
            (latitude: 40.71427, longitude: -74.00597, city: "New York City, NY, USA"),
            (latitude: 48.85341, longitude: 2.3488, city: "Paris, France"),
            (latitude: 38.575764, longitude: -121.478851, city: "Sacramento, CA, USA"),
            (latitude: -23.54750, longitude: -46.63611, city: "São Paulo, SP, Brazil"),
            (latitude: 35.6895, longitude: 139.69171, city: "Tokyo, Japan")
        };
        var random = new Random();
        var randomIndex = random.Next(locations.Length);
        var suggestedLocation = locations[randomIndex];
        return (suggestedLocation.latitude, suggestedLocation.longitude, suggestedLocation.city);
    }
}
